body{font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 50px;
    
}
h2{ 
    font-size: 40px;
}
.orange-color{
color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 10px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    background-color: orange;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    

}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}


.box{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
}
#full-stock{
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
#web-developer{
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan) ;
    border-image-slice: 1;   
}
footer p {
    text-align-last: center;
}